[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log

pid-file	            = /var/run/mysqld/mysqld.pid
socket		            = /var/run/mysqld/mysqld.sock

# Where the database files are stored inside the container
datadir		            = /var/lib/mysql

# Custom config
max_allowed_packet          = 1G
innodb_log_file_size        = 1G
#sql-mode                   = 'STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION'

# Accept connections from any IP address
bind-address	            = 0.0.0.0

#innodb_file_format = Barracuda
#innodb_large_prefix = 1
#innodb_file_per_table = ON
#innodb_data_file_path = ibdata1:10M:autoextend:max:512M